SDC_project.sqlite3

SDC/__pycache__
SDC/__pycache__/*
SDC/settings.py

app/api/__pycache__
app/api/__pycache__/*
app/api/migrations
app/api/migrations/*

app/earthquake/__pycache__
app/earthquake/__pycache__/*
app/earthquake/migrations
app/earthquake/migrations/*

app/weather/__pycache__
app/weather/__pycache__/*
app/weather/migrations
app/weather/migrations/*

app/disaster_ana/__pycache__
app/disaster_ana/__pycache__/*
app/disaster_ana/migrations
app/disaster_ana/migrations/*

