{% extends "structure/header_n_footer.html" %}
{% load static %}
{% block content %}

<div class="container-fluid h-100">
    <div class="row h-100">

        <main class="main-content col">
            <div class="main-content-container container-fluid px-4 my-auto h-100">
                <div class="row no-gutters h-100">
                    <div class="col-lg-3 col-md-5 auth-form-gra mx-auto my-auto">
                        <div class="card">
                            <div class="card-body">
                                <img class="d-table mx-auto mb-3" src="{% static 'images/swiss-logo-ts.png' %}"
                                    style="width: 80%;">
                                <h5 class="auth-form__title text-center mb-4 pt-3"
                                    style="font-weight: 600; font-size:1.725rem;">Enter the new password</h5>

                                {% if validlink %}
                                <form method="post" class="needs-validation" novalidate>
                                    {% csrf_token %}
                                    <div class="form-group mb-4 pt-3">
                                        <!-- New password -->
                                        <div class="form-group">
                                            <label for="id_new_password1">New password</label>
                                            <input type="password" class="form-control" id="id_new_password1"
                                                name="new_password1" autocomplete="new_password" onChange="PassCheck()"
                                                pattern="(?=.*\d).{6,20}" required>
                                            <div class="invalid-feedback">Required password conditions</div>
                                            <small>The password must between 6 to 20 characters which contain at least
                                                one
                                                numeric digit and one
                                                letter.</small>
                                        </div>

                                        <!-- Confirm new password -->
                                        <div class="form-group">
                                            <label class="pt-1" for="id_new_password2">Confirm password</label>
                                            <input type="password" class="form-control" id="id_new_password2"
                                                name="new_password2" autocomplete="new_password" onChange="PassCheck()"
                                                pattern="(?=.*\d).{6,20}" required>
                                            <div class="invalid-feedback" id="wrong_pass"></div>
                                        </div>

                                        <button type="submit" class="btn btn-grad d-table mx-auto">Reset
                                            Password</button>
                                    </div>
                                </form>
                                {% else %}

                                <a style="font-weight: 300;">The password reset link was invalid, possibly because it
                                    has already been used.
                                    Please request a new password reset.</a>

                                {% endif %}


                            </div>
                        </div>
                        <!--<div class="auth-form__meta d-flex mt-4">
                            <a class="mx-auto" href="{% url 'login' %}">Take me back to login.</a>
                        </div>-->
                    </div>
                </div>
            </div>
        </main>

    </div>
</div>

<script type="text/javascript">
    //-------------------------------------------------------------------------------------------------------------------//
    //--------------------------------------------- Password Check function  --------------------------------------------//
    //-------------------------------------------------------------------------------------------------------------------//
    function PassCheck() {
        var password = document.querySelector('input[name=new_password1]');
        var confirm = document.querySelector('input[name=new_password2]');
        if (confirm.value === password.value) {
            confirm.setCustomValidity('');
        } else {
            confirm.setCustomValidity('Passwords do not match');
            $('#wrong_pass').text('The password is not match!')
        }
    }

    //-----------------------------------------------------------------------------------------------------------------//
    //--------------------------------------------- invalid form function  --------------------------------------------//
    //-----------------------------------------------------------------------------------------------------------------//
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

</script>


{% endblock content %}