{% load static %}
{% include "structure/header_n_footer.html" %}
{% block content %}
{% include "structure/sidebar.html" %}
{% include "structure/topnavbar.html" %}

<div class="container-fluid card" style="margin: 10px; width: auto;background-color: #dee1ea;">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-12 text-center text-sm-left mb-4 mb-sm-0">
            <!--<h3 class="page-title">About SDC</h3>-->
        </div>
    </div>
    <!-- End Page Header -->

    <!------------------------- About container ------------------------->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 mb-2 px-5 my-3">
            <h3 class="d-flex justify-content-center" style="font-weight: 700;">Background</h3>
            <div class="row pt-4">
                <!-- first content column -->
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <p>With the Asia-Pacific being the most hazard and disaster-prone region in the world to
                        natural hazards and the increasing impacts of climate change, Switzerland in its International
                        Cooperation Strategy 2021-2024 stipulates an increased commitment for Disaster Risk
                        Reduction (DRR) and Climate Change Adaptation (CCA). </p>
                    <p>Swiss Agency for Development and Cooperation (SDC) Regional Advisory Hub for Southeast
                        Asia and the Pacific, in Bangkok is designed to advise on disaster risk management measures,
                        including nature-based solutions, while contributing to climate change adaptation and
                        supporting sustainable management of natural resources in an effective and targeted
                        manner. GIS applications and spatial analysis can also be useful for capacity development and
                        operational decision-making. It will also be able to enhance its support for
                        mainstreaming DRR and disaster risk management into SDC projects in the region, namely in Laos
                        and Cambodia by customizing hazard and multi hazard maps and identifying if SDC projects are
                        at risk of disasters.</p>
                </div>
                <!-- /* first content column -->
                <!-- secound content column-->
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <p>In this context, a project was implemented by the Regional Integrated Multi-Hazard Early
                        Warning System (RIMES) with funding from SDC through its Regional Advisory Hub for
                        Southeast Asia and the Pacific, Bangkok (or the SDC Regional Hub, Bangkok) to collate and
                        compile
                        existing data on disasters, hydromet time series data and present it via a dedicated
                        portal. This portal would serve as an aid in decision-making needs of the SDC Regional Advisory
                        Hub in Bangkok. </p>
                </div>
                <!-- /. secound content column-->
            </div>
        </div>
    </div>
    <!------------------------- /. About container ------------------------->

    <!------------------------- Objective of the assignment container ------------------------->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 mb-2 px-5 my-3">
            <h3 class="d-flex justify-content-center" style="font-weight: 700;">Objective of the assignment</h3>
            <div class="row pt-4">
                <!-- first content column -->
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <p>The project aims to support SDC Regional Hub, Bangkok in its roles and responsibilities
                        across regional, national and thematic pillars through its work streams on monitoring,
                        analysing, reporting and advising on hazard events and disasters for rapid response,
                        mainstreaming DRR into SDC programmes/ projects/ specific interventions in the region,
                        and cooperation with regional intergovernmental organisations.</p>
                    <p>In the context of disaster risk reduction and climate change adaptation, risk assessments
                        and hazard mapping that are relevant to operational decision-making become vital.
                        Variables contributing to risk at a location can be broadly categorized as static (or
                        quasi-static) (such as topography, land use, soil population, socio-economic) and
                        dynamic (such as weather, crop-status, hydrology, hazards). </p>
                    <p>Through SDC-RIMES collaboration a restricted-access web-based tool has been developed to
                        provide guidance for dynamic risk assessment in a phased manner focused on Cambodia and
                        Lao PDR. This is expected to be developed and rolled-out in subsequent phases to
                        encompass additional features, aspects and include Myanmar.</p>
                </div>
                <!-- /* first content column -->
                <!-- secound content column-->
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <p>The overall objective of the engagement is to create a restricted access web-platform as
                        a decision support tool for SDC Regional Hub-Bangkok, incorporating various readily
                        available datasets on disaster risks, hazards, vulnerabilities and exposure along with
                        forecast data. Specifically, RIMES would: </p>
                    <ul>
                        <li>Collect data in geospatial data format and generate an integrated display of
                            hydro-met parameters based on past flooding / storms / other severe weather events
                            to indicative alerts in combination with forecasts. </li>
                        <li>Create a restricted access web-platform as a decision support tool for SDC Regional
                            Advisory Hub, incorporating various readily available datasets on disaster risks,
                            hazards, vulnerabilities and exposure along with forecast data. </li>
                    </ul>
                </div>
                <!-- /. secound content column-->
            </div>
        </div>
    </div>
    <!------------------------- /. Objective of the assignment container ------------------------->

    <!------------------------- Structure of the Final Report container ------------------------->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 mb-2 px-5 my-3">
            <h3 class="d-flex justify-content-center" style="font-weight: 700;">Structure of the Final Report</h3>
            <div class="row pt-4">
                <!-- first content column -->
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <p>This section introduces the assignment and its objectives, while subsequent sections as under,
                        describe the progress made under two broad categories of data and web-portal as well as plans
                        and challenges/ lessons learned: </p>
                    <p>Section 2: focuses on Data. Identification of potential open sources for the data, types of data,
                        collection of the data, collation of data, creation of a metadata file, cleaning of data and
                        identification of data gaps to be addressed in collaboration with SDC.</p>
                </div>
                <!-- /* first content column -->
                <!-- secound content column-->
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <p>Section 3: describes the web platform. The framework adopted for front-end and back-end, the
                        architecture of the platform, i.e., the modules, and progress accomplished in that regard.</p>
                    <p>Section 4: identifies areas for further enhancement of the portal</p>
                    <p>Section 5: elaborates the key learnings and challenges in the process.Section 5: elaborates the
                        key learnings and challenges in the process.</p>
                </div>
                <!-- /. secound content column-->
            </div>
        </div>
    </div>
    <!------------------------- /. Structure of the Final Report container ------------------------->

    <!------------------------- Data Collection container ------------------------->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 mb-2 px-5 my-3">
            <h3 class="d-flex justify-content-center" style="font-weight: 700;">Data Collection</h3>
            <div class="row pt-4">
                <!-- first content column -->
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <p>The assignment commenced in earnest upon signing of the contract agreement between SDC and RIMES
                        on 18 January 2022, with focus on collection and collation of data related to Cambodia and Lao
                        PDR on the following: </p>
                    <ol>
                        <li>past disasters- to map past and current hydrological and meteorological hazards based on
                            past occurrences</li>
                        <li>relevant socio-economic data sets (population, GDP) that are readily available </li>
                        <li>administrative maps up to provincial and commune/ village level that are readily available.
                        </li>
                    </ol>
                </div>
                <!-- /* first content column -->
                <!-- secound content column-->
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <p>A list of possible data was tabulated as below, along with potential sources of information, with
                        a limitation that it was only open source/ freely available datasets that were within the scope
                        of the assignment.</p>
                </div>
                <!-- /. secound content column-->
            </div>
                <!-- Table for data collection -->
                <div class="row px-4 pt-2">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <table class="d-flex justify-content-center" style="border-collapse: collapse; padding: auto;">
                            <tr style="background-color: #3D5178; color: #DEE1EA;">
                                <th style="border: 2px solid #3D5178; text-align: left;padding: 8px;">s.No</th>
                                <th style="border: 2px solid #3D5178; text-align: left;padding: 8px;">Data Type</th>
                                <th style="border: 2px solid #3D5178; text-align: left;padding: 8px;">Source</th>
                            </tr>
                            <tr>
                                <td colspan="3" style="border: 2px solid #3D5178; text-align: left;padding: 8px;">I. Disasters</td>
                            </tr>
                            <tr>
                                <td style="border: 2px solid #3D5178; text-align: left;padding: 8px;">1</td>
                                <td style="border: 2px solid #3D5178; text-align: left;padding: 8px;">Disaster Damage Loss Data</td>
                                <td style="border: 2px solid #3D5178; text-align: left;padding: 8px;">CRED EMDAT</td>
                            </tr>
                            <tr>
                                <td style="border: 2px solid #3D5178; text-align: left;padding: 8px;">2</td>
                                <td style="border: 2px solid #3D5178; text-align: left;padding: 8px;">Disaster Damage Loss Data</td>
                                <td style="border: 2px solid #3D5178; text-align: left;padding: 8px;">Desinventar</td>
                            </tr>
                            <tr>
                                <td colspan="3" style="border: 2px solid #3D5178; text-align: left;padding: 8px;">II. Socio-economic data</td>
                            </tr>
                            <tr>
                                <td style="border: 2px solid #3D5178; text-align: left;padding: 8px;">3</td>
                                <td style="border: 2px solid #3D5178; text-align: left;padding: 8px;">Demography (Population)</td>
                                <td style="border: 2px solid #3D5178; text-align: left;padding: 8px;">Lao and Cambodia Government</td>
                            </tr>
                            <tr>
                                <td style="border: 2px solid #3D5178; text-align: left;padding: 8px;">4</td>
                                <td style="border: 2px solid #3D5178; text-align: left;padding: 8px;">Multidimensional Poverty Index (MPI)</td>
                                <td style="border: 2px solid #3D5178; text-align: left;padding: 8px;">University of Oxford</td>
                            </tr>
                            <tr>
                                <td style="border: 2px solid #3D5178; text-align: left;padding: 8px;">5</td>
                                <td style="border: 2px solid #3D5178; text-align: left;padding: 8px;">Inform Risk Index (Exposure, Vulnerability and adaptive capacity)</td>
                                <td style="border: 2px solid #3D5178; text-align: left;padding: 8px;">European Commission</td>
                            </tr>
                            <tr>
                                <td style="border: 2px solid #3D5178; text-align: left;padding: 8px;">6</td>
                                <td style="border: 2px solid #3D5178; text-align: left;padding: 8px;">Demography (Population, literacy, sex ratio)</td>
                                <td style="border: 2px solid #3D5178; text-align: left;padding: 8px;">National Institute of Statistics</td>
                            </tr>
                            <tr>
                                <td style="border: 2px solid #3D5178; text-align: left;padding: 8px;">7</td>
                                <td style="border: 2px solid #3D5178; text-align: left;padding: 8px;">Development Indicators</td>
                                <td style="border: 2px solid #3D5178; text-align: left;padding: 8px;">World Bank, SDG DashBoard</td>
                            </tr>
                            <tr>
                                <td style="border: 2px solid #3D5178; text-align: left;padding: 8px;">8</td>
                                <td style="border: 2px solid #3D5178; text-align: left;padding: 8px;">Agriculture, Forest cover, Land</td>
                                <td style="border: 2px solid #3D5178; text-align: left;padding: 8px;">FAO</td>
                            </tr>
                            <tr>
                                <td colspan="3" style="border: 2px solid #3D5178; text-align: left;padding: 8px;">III. Maps / Geographic Boundaries</td>
                            </tr>
                            <tr>
                                <td style="border: 2px solid #3D5178; text-align: left;padding: 8px;">9</td>
                                <td style="border: 2px solid #3D5178; text-align: left;padding: 8px;">Administrative Boundary maps</td>
                                <td style="border: 2px solid #3D5178; text-align: left;padding: 8px;">Desinventar & SDC</td>
                            </tr>
                            <tr>
                                <td colspan="3" style="border: 2px solid #3D5178; text-align: left;padding: 8px;">IV. Hydrometeorological</td>
                            </tr>
                            <tr>
                                <td style="border: 2px solid #3D5178; text-align: left;padding: 8px;">10</td>
                                <td style="border: 2px solid #3D5178; text-align: left;padding: 8px;">Rainfall data</td>
                                <td style="border: 2px solid #3D5178; text-align: left;padding: 8px;">CHIRPS, US Govt.</td>
                            </tr>
                            <tr>
                                <td style="border: 2px solid #3D5178; text-align: left;padding: 8px;">11</td>
                                <td style="border: 2px solid #3D5178; text-align: left;padding: 8px;">Meteorological forecasts (rainfall, Temperature, Humidity)</td>
                                <td style="border: 2px solid #3D5178; text-align: left;padding: 8px;">ECMWF</td>
                            </tr>
                            <tr>
                                <td colspan="3" style="border: 2px solid #3D5178; text-align: left;padding: 8px;">V. Earthquake Monitoring Data</td>
                            </tr>
                            <tr>
                                <td style="border: 2px solid #3D5178; text-align: left;padding: 8px;">12</td>
                                <td style="border: 2px solid #3D5178; text-align: left;padding: 8px;">S-wave and P-Wave data</td>
                                <td style="border: 2px solid #3D5178; text-align: left;padding: 8px;">IRIS, GEOFON, RIMES</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- /. Table for data collection -->
            
        </div>
    </div>
    <!------------------------- /. Data Collection container ------------------------->

    <div class="row pt-5">
        <!------------------------- /. Logo container ------------------------->
        <div class="col-lg-6 col-md-6 col-sm-12 mb-2 mx-0 d-flex justify-content-center">
            <img class="" src="{% static 'images/swiss-logo-ts.png' %}" style="height: 15vh;">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 mb-2 mx-0 d-flex justify-content-center">
            <img class="" src="{% static 'images/rimes_logo_tr.png' %}" style="height: 15vh;">
        </div>

        <!------------------------- /. Logo container ------------------------->
    </div>

</div>


{% include "structure/footer.html" %}
{% endblock content %}