{% load static %}
{% include "structure/header_n_footer.html" %}
{% include "structure/sidebar.html" %}
{% include "structure/topnavbar.html" %}
{% block content %}

<div class="container-fluid card" style="margin: 10px; width: auto;background-color: #dee1ea;">
<!-- Page Header -->
<div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-4 mb-sm-0">
        <h3 class="page-title">Earthquake Threats</h3>
    </div>
    </div>
<!-- End Page Header -->

<!-- Place your code here -->



</div>

{% endblock content %}