{% load static %}
{% include "structure/sidebar.html" %}
{% include "structure/topnavbar.html" %}
{% block content %}

<div class="container-fluid card" style="margin: 10px; width: auto;background-color: #dee1ea;">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-4 mb-sm-0">
            <h3 class="page-title">Hazard Analytics</h3>
        </div>
    </div>

    <!-- Country Tab -->
    <!-- Tab Bar -->
    <div class="btn-group btn-group-toggle d-inline-flex mb-4 mb-sm-0 mx-auto py-3 justify-content-md-center"
        role="group" aria-label="Page actions">
        <ul class="nav" id="myTab">
            <li class="nav-item ">
                <a href="#cambodia" class="nav-link btn btn-white active">Cambodia</a>
            </li>
            <li class="nav-item">
                <a href="#laos" class="nav-link btn btn-white">Laos</a>
            </li>
            <li class="nav-item">
                <a href="#myanmar" class="nav-link btn btn-white">Myanmar</a>
            </li>
        </ul>
    </div>
    <!-- End Tab Bar -->
    <div class="tab-content col-lg-12">
        <!-- Cambodia Tab-->
        <div class="tab-pane fade show active" id="cambodia">
            <div class="row">
                <div class="card w-100 card-small">
                    <!-- Card Header -->
                    <div class="card-header border-bottom">
                        <h6 class="m-0">Cambodia Hazard</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body pt-0">
                        <div class="row border-bottom py-2 bg-light">
                            <div class="col-12 col-sm-12 mb-2">

                                <form method="post" class="py-2" id="khm_form">
                                    {% csrf_token %}
                                    <!-- Hazard Selection -->
                                    <div class="row w-100">

                                    <div class="col-lg-3 col-md-3 col-sm-12">
                                        <span>Select Event :</span>
                                        <select class="form-control my-2" name="khm_haz_selected">
                                            {% for a in haz_event %}
                                            <option value="{{a.event}}" {% if a.event == hazard_param %} selected {% endif %}>{{a.event}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <!-- Level Selection -->
                                    
                                        <div class="col-lg-3 col-md-3 col-sm-12">
                                            <span>Select Level :</span>
                                            <select class="form-control my-2" name="khm_level_selected">
                                                <option value="province_name" {% if level_param == 'province_name' %}selected{% endif %}>Province</option>
                                                <option value="district_name" {% if level_param == 'district_name' %}selected{% endif %}>District</option>
                                                <option value="commune_name" {% if level_param == 'commune_name' %}selected{% endif %}>Commune</option>
                                            </select>
                                        </div>
                                    

                                    <!-- Submit Button -->
                                    <div class="col-lg-2 col-md-2 col-sm-12">
                                        <span><br></span>
                                            <button type="submit" id="khm_submit"
                                                class="btn btn-primary btn-squared my-2"
                                                style=" border-color: #0b2d5a; background-color: #0b2d5a;border-radius: 0.2rem;">Load</button>
                                        </div>
                                    

                                </div>

                                    

                                </form>
                            </div>
                        </div>

                        <!-- Map body -->
                        <div id="hc_container"></div>

                        <!-- Year Selection -->
                        <div class="row border-top bg-light">
                            <div class="col-lg-12 col-md-12 col-sm-12 py-2">
                                <span>Select year</span>
                                <div class="col-12 w-100" id="khm_year_slider"></div>
                            </div>
                        </div>

                    </div> <!-- End Card body -->


                </div>
            </div>
        </div>

        <!-- ****************************************************** End Cambodia Tab **************************************************************** -->

        <!-- Laos Tab-->
        <div class="tab-pane fade" id="laos">
            <div class="row">

                <div class="card w-100">
                    <!-- Card Header -->
                    <div class="card-header border-bottom">
                        <h6 class="m-0">Laos Hazard</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body pt-0">
                        <div class="row border-bottom py-2">
                            <div class="col-12 col-sm-12 d-flex mb-2 mb-sm-0">

                                <form method="post" class="py-2">
                                    {% csrf_token %}
                                    <!-- Hazard Selection -->

                                    <div class="row col-lg-12 col-md-12 col-sm-12">
                                        <span>Select Event :</span>
                                        <div class="btn-group-toggle my-auto mx-auto mx-sm-0 py-2"
                                            data-toggle="buttons">
                                            {% for a in haz_event %}
                                            <label
                                                class="btn btn-white btn-pill {% if a.event == lao_hazard_param %}active{% endif %}"
                                                for="event">
                                                <input type="radio" name="lao_haz_selected" id="{{a.event}}"
                                                    autocomplete="off" value="{{a.event}}" {% if a.event == lao_hazard_param %}checked{% endif %}> {{a.event}}
                                            </label>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <!-- Level Selection -->
                                    <div class="row">
                                        <div class="col-lg-5 col-md-12 col-sm-12">
                                            <span>Select Level :</span>
                                            <select class="form-control my-2" name="lao_level_selected">
                                                <option value="province_name" {% if level_param == 'province_name' %}selected{% endif %}>Province</option>
                                                <option value="district_name" {% if level_param == 'district_name' %}selected{% endif %}>District</option>
                                                <option value="commune_name" {% if level_param == 'commune_name' %}selected{% endif %}>Commune</option>
                                            </select>
                                        </div>
                                    </div>

                                    <!-- Submit Button -->
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <button type="submit" name="lao_submit"
                                                class="btn btn-primary btn-squared my-2"
                                                style=" border-color: #0b2d5a; background-color: #0b2d5a;border-radius: 0.2rem;">Load</button>
                                        </div>
                                    </div>

                                    <!-- Year Selection -->
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <span>Select year</span>
                                            <div class="col-12 w-100" id="lao_year_slider"></div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>


                    </div> <!-- End Card body -->


                </div>
            </div>
        </div>

        <!-- ****************************************************** End Laos Tab **************************************************************** -->

        <!-- Myanmar Tab-->
        <div class="tab-pane fade" id="myanmar">
            <h3>Myanmar</h3>

        </div>

    </div> <!-- End Tab content -->



</div>


<script type="text/javascript">
    //-------------------------------------------------------------------//
    // Tab
    $(document).ready(function () {
        $("#myTab a").click(function (z) {
            z.preventDefault();
            $(this).tab("show");
        });
    });
    //-------------------------------------------------------------------//
    // year range select //
    // Cambodia
    var KHM_YearSlider = document.getElementById('khm_year_slider');
    var pipsPositions = document.getElementById('pips-positions');

    noUiSlider.create(KHM_YearSlider, {
        start: [{{ year_start }}, {{ year_end }}],
        tooltips: [true, true],
        connect: true,
        //step: 10,
        range: {
        'min': {{ year_start }},
        'max': {{ year_end }}
    },
        format: wNumb({
            decimals: 0
        }),
        pips: {
            mode: 'positions',
            values: [0, 25, 50, 75, 100],
            density: 4
    }
});
/*
    $( "[name=khm_haz_selected]" ).change(function() {
        var test_name = $('[name=khm_haz_selected]').val();
        var test_name2 = $('[name=khm_level_selected]').val();
        var year_range = $('#khm_year_slider').val();
        alert(year_range+' '+test_name+' '+test_name2);
    });

    $(KHM_YearSlider)[0].noUiSlider.on('change',function(v,handle){
        var test_name = $('[name=khm_haz_selected]').val();
        var test_name2 = $('[name=khm_level_selected]').val();
        alert(v+' '+test_name+' '+test_name2);

    });
*/
    // Laos
    var LAO_YearSlider = document.getElementById('lao_year_slider');

    noUiSlider.create(LAO_YearSlider, {
        start: [{{ year_start }}, {{ year_end }}],
        tooltips: [true, true],
        connect: true,
        //step: 10,
        range: {
        'min': {{ year_start }},
        'max': {{ year_end }}
},
        format: wNumb({
            decimals: 0
        }),
        pips: {
            mode: 'positions',
            values: [0, 25, 50, 75, 100],
            density: 4
    }
});
//--------------------------------------------------------------------------------------//


//--------------------------------------------------------------------------------------// 
// HighChart Map
var MapData = [['Battambang', 10], ['Kampong Cham', 20], ['Kampong Thom', 40], ['Kandal', 30], ['Kratie', 70], ['Phnom Penh', 10], ['Prey Veng', 40]];
//const MapData = {{ map_data|safe }};
// load all 3 level map
const camMap_p = "{% static 'JSON/Cambodia/Cambodia_Province.geojson' %}";
const camMap_d = "{% static 'JSON/Cambodia/Cambodia_District.geojson' %}";
const camMap_c = "{% static 'JSON/Cambodia/Cambodia_Commune.geojson' %}";

    // choose which map level will show on site by dropdown selection.
    function level(lev) {
      if (lev == 'district_name') {
        return camMap_d;
      }
      if (lev == 'commune_name') {
        return camMap_c;
      }
      else {
        return camMap_p;
      }
    }

    function Datalevel(dlev) {
      if (dlev == 'district_name') {
        return 'District';
      }
      if (dlev == 'commune_name') {
        return 'Commune';
      }
      else {
        return 'Province';
      }
    }

    Highcharts.getJSON(level('{{level_param}}'), function (geojson) {

// Initialize the chart
Highcharts.mapChart('hc_container', {
    chart: {
        map: geojson,
        //borderWidth: 2,
        backgroundColor: false
    },

    title: {
        text: ''
    },

    accessibility: {
        typeDescription: 'Map of Cambodia.'
    },

    mapNavigation: {
        enabled: true,
        buttonOptions: {
            verticalAlign: 'bottom'
        }
    },

    colorAxis: {
    //min: 1,
    //max: 100,
    //type: 'logarithmic', //because you can't take log with 0 value
    minColor: '#EEEEFF',
    maxColor: '#000022',
    stops: [
      [0, '#C6DBEF'],
      [0.67, '#4292C6'],
      [1, '#062655']
    ]
    },

    series: [{
        data: MapData,
        keys: ['code', 'value'],
        joinBy: [Datalevel('{{level_param}}'), 'code'],
        name: 'Random data',
        tooltip: {
                pointFormat: '{point.code}: {point.value}'
            },
        states: {
            hover: {
                color: '#a4edba'
            }
        },
        dataLabels: {
            enabled: true,
            format: '{point.code}'
        }
    }]
});
});

//--------------------------------------------------------------------------------------// 
</script>


{% include "structure/footer.html" %}
{% endblock content %}