{% load static %}
{% include "structure/header_n_footer.html" %}
{% block content %}

{% include "structure/sidebar.html" %}
{% include "structure/topnavbar.html" %}

<div class="container-fluid card" style="margin: 10px; width: auto;background-color: #dee1ea;">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
        <div class="col-12 text-center text-sm-left">
            <!--<span class="text-uppercase page-subtitle">Overview</span>-->
            <h3 class="page-title">Observation</h3>
        </div>
    </div>
    <!-- End Page Header -->

    <!-- Country Tab -->
    <!-- Tab Bar -->
    <div class="btn-group btn-group-toggle d-inline-flex mb-4 mb-sm-0 mx-auto" role="group" aria-label="Page actions">
        <ul class="nav" id="myTab">
            <li class="nav-item ">
                <a href="#cambodia" class="nav-link btn btn-white active">Cambodia</a>
            </li>
            <li class="nav-item">
                <a href="#laos" class="nav-link btn btn-white">Laos</a>
            </li>
            <li class="nav-item">
                <a href="#myanmar" class="nav-link btn btn-white">Myanmar</a>
            </li>
        </ul>
    </div>
    <!-- End Tab Bar -->
    <div class="tab-content">
        <!-- Cambodia Tab -->
        <div class="tab-pane fade show active" id="cambodia">
            <h4 class="mt-2">Cambodia tab content</h4>

            <!-- Map box -->
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 mb-4 mx-0">
                    <div class="card card-small m-0">
                        <div class="card-header border-bottom">
                            <h6 class="m-0">Please choose location</h6>
                        </div>
                        <div class="card-body pt-0">
                            <!-- Place Choose station dropdown bar -->
                            <div class="row border-bottom py-2 bg-light">
                                <div class="col-12 col-sm-6 d-flex mb-2 mb-sm-0 w-100">
                                    <form method="post">
                                        {% csrf_token %}
                                        <div class="input-group">
                                            <select class="form-control" name="station_selected">
                                                <option selected>Choose a station</option>
                                                {% for i in station %}
                                                <option value='{{ i.station_name }}'>{{ i.station_name }}</option>
                                                {% endfor %}
                                            </select>
                                            <div class="input-group-append">
                                                <button type="button submit" class="btn btn-primary btn-squared"
                                                    style="border-color: #0b2d5a; background-color: #0b2d5a; border-radius: 0.2rem;">Load</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                            <!-- End Choose station dropdown bar -->
                            <!-- Place something... -->
                            <div class="col-12 col-sm-6"></div>
                            <!-- Place Map-->
                            <div class="map-sm" id="cam_map"></div>

                        </div>
                    </div>
                </div>
                <!-- End Map box -->

                <!-- Describe box -->
                <div class="col-lg-6 col-md-6 col-sm-6 mb-4 mx-0">
                    <div class="card ubd-stats card-small m-0">
                        <div class="card-header border-bottom">
                            <h6 class="m-0">Last 30 Years Climatology of {{station_n}} station</h6>
                        </div>
                        <div class="card-body d-flex flex-column">
                            <div class="bg-light">
                                <canvas id="myChart"></canvas>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- End Describe box -->
        </div>
        <!-- End Cambodia tab -->
        <!-- Laos tab -->
        <div class="tab-pane fade" id="laos">
            <h4 class="mt-2">Laos tab content</h4>
            <p>Vestibulum nec erat eu nulla rhoncus fringilla ut non neque. Vivamus nibh urna, ornare id gravida
                ut,
                mollis
                a magna. Aliquam porttitor condimentum nisi, eu viverra ipsum porta ut. Nam hendrerit bibendum
                turpis, sed
                molestie mi fermentum id. Aenean volutpat velit sem. Sed consequat ante in rutrum convallis.
                Nunc
                facilisis
                leo at faucibus adipiscing.</p>

        </div>
        <!-- End Laos tab -->
        <!-- Myanmar tab -->
        <div class="tab-pane fade" id="myanmar">
            <h4 class="mt-2">Myanmar tab content</h4>
            <p>Donec vel placerat quam, ut euismod risus. Sed a mi suscipit, elementum sem a, hendrerit velit.
                Donec
                at erat
                magna. Sed dignissim orci nec eleifend egestas. Donec eget mi consequat massa vestibulum
                laoreet.
                Mauris et
                ultrices nulla, malesuada volutpat ante. Fusce ut orci lorem. Donec molestie libero in tempus
                imperdiet. Cum
                sociis natoque penatibus et magnis.</p>

        </div>
        <!-- End Myanmar tab -->
    </div>
    <!-- End Country tab -->







</div>
<!-- End of Page content -->

<script type="text/javascript">
    // Tab
    $(document).ready(function () {
        $("#myTab a").click(function (e) {
            e.preventDefault();
            $(this).tab("show");
        });
    });

    // Cambodia map
    var cam_map = L.map('cam_map', {
        zoomControl: false,
        minZoom: 3,     // Max Zoom out
        maxZoom: 9,    // Max Zoom in
    }).setView([12.562108, 104.888535], 7);
    L.tileLayer('https://api.mapbox.com/styles/v1/nazmul-rimes/ck9wljpn30kbx1is5a630hmtb/tiles/256/{z}/{x}/{y}@2x?access_token=pk.eyJ1IjoibmF6bXVsLXJpbWVzIiwiYSI6ImNrOWFzeHNtcDA3MjAzbG50dnB0YmkxNnAifQ.usNB6Kf9PyFtKTUF1XI38g').addTo(cam_map);

    // Line Chart

    // Setup Block
    const labels = [
        'January',
        'February',
        'March',
        'April',
        'May',
        'June',
        'July',
        'August',
        'September',
        'October',
        'November',
        'December'
    ];
    const data = {
        labels: labels,
        datasets: [{
            label: 'Min Temp',
            backgroundColor: '#2f96b2',
            borderColor: '#2f96b2',
            data: [{% for a in rainfall %}{{a}},{% endfor %}],
            yAxisID: 'A'
        }, {
            label: 'Max Temp',
            backgroundColor: '#0b2d5a',
            borderColor: '#0b2d5a',
            data: [{% for b in max_temp %}{{b}},{% endfor %}],
            yAxisID: 'A'
        }, {
            label: 'Rainfall',
            backgroundColor: '#c4c7d7',
            borderColor: '#c4c7d7',
            data: [{% for c in rainfall %}{{c}},{% endfor %}],
            yAxisID: 'B'
        }
        ]
    };
    // Config Block
    const config = {
        display: true,
        type: 'line',
        data: data,
        options: {
            scales: {
                'A': { 
                    title: {
                        display: true, 
                        text: 'Temperature (°C)'
                    },
                    labels: 'Temperature',
                    position: 'left'
                },
                'B': {
                    title: {
                        display: true, 
                        text: 'Rainfall (mm)'
                    },
                    labels: 'Rainfall',
                    position: 'right',
                }
            }
        }
    };
    // Rander 
    const myChart = new Chart(
        document.getElementById('myChart'),
        config
    );

</script>
{% include "structure/footer.html" %}
{% endblock content %}