{% load static %}
{% include "structure/header_n_footer.html" %}
{% block content %}
{% include "structure/sidebar.html" %}
{% include "structure/topnavbar.html" %}

<div class="container-fluid card" style="margin: 10px; width: auto;background-color: #dee1ea;">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
        <div class="col-12 text-center text-sm-left">
            <!--<span class="text-uppercase page-subtitle">Overview</span>-->
            <h3 class="page-title">Observation</h3>
        </div>
    </div>
    <!-- End Page Header -->

    <!-- Country Tab -->
    <!-- Tab Bar -->
    <div class="btn-group btn-group-toggle d-inline-flex mb-4 mb-sm-0 mx-auto" role="group" aria-label="Page actions">
        <ul class="nav" id="myTab">
            <li class="nav-item ">
                <a href="#cambodia" class="nav-link btn btn-white active">Cambodia</a>
            </li>
            <li class="nav-item">
                <a href="#laos" class="nav-link btn btn-white">Laos</a>
            </li>
            <li class="nav-item">
                <a href="#myanmar" class="nav-link btn btn-white">Myanmar</a>
            </li>
        </ul>
    </div>

    <!-- End Tab Bar -->
    <div class="tab-content">
        <!-------------------------------------------------------------------------------------------------------------------------------->
        <!-------------------------------------------------------* Cambodia tab *--------------------------------------------------------->
        <!-------------------------------------------------------------------------------------------------------------------------------->
        <div class="tab-pane fade show active" id="cambodia">
            <h4 class="mt-2"></h4>
            <!-- Map box -->
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 mb-4 mx-0">
                    <div class="card card-small m-0">
                        <div class="card-header border-bottom">
                            <h6 class="m-0">Cambodia Station's Map</h6>
                        </div>
                        <div class="card-body pt-0" style="background-color: #fff;border-radius: 0.625rem;">

                            <!-- Place something... -->
                            <div class="col-12 col-sm-6"></div>
                            <!-- Place Map-->
                            <div class="map-sm" id="cam_map"></div>

                        </div>
                    </div>
                </div>
                <!-- End Map box -->

                <!-- Describe box -->
                <div class="col-lg-6 col-md-12 col-sm-12 mb-4 mx-0">
                    <div class="card ubd-stats card-small m-0">
                        <div class="card-header border-bottom">
                            <h6 class="m-0" id="khm_ts_title">Climatology of Battambang station</h6>
                        </div>

                        <div class="card-body pt-0" style="background-color: #fff;border-radius: 0.625rem;">
                            <!-- Select year -->
                            <div class="row border-bottom py-2 bg-light">
                                <div class="col-12 w-100">
                                    <span>Select year</span>

                                    <div class="col-12" id="khm_year_slider"></div>

                                </div>
                            </div>

                            <!-- End Select year -->
<div>
                            <canvas id="khm_chart"></canvas>
</div>
                        </div> <!-- End card body -->

                    </div>
                </div><!-- End Describe box -->
            </div>

        </div>
        <!-- End Cambodia tab -->

        <!---------------------------------------------------------------------------------------------------------------------------->
        <!-------------------------------------------------------* Laos tab *--------------------------------------------------------->
        <!---------------------------------------------------------------------------------------------------------------------------->
        <div class="tab-pane fade" id="laos">
            <h4 class="mt-2"></h4>
            <!-- Map box -->
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 mb-4 mx-0">
                    <div class="card card-small m-0">
                        <div class="card-header border-bottom">
                            <h6 class="m-0">Laos Station's Map</h6>
                        </div>
                        <div class="card-body pt-0" style="background-color: #fff;border-radius: 0.625rem;">

                            <!-- Place something... -->
                            <div class="col-12 col-sm-6"></div>
                            <!-- Place Map-->
                            <div class="map-sm" id="lao_map"></div>

                        </div>
                    </div>
                </div>
                <!-- End Map box -->

                <!-- Describe box -->
                <div class="col-lg-6 col-md-12 col-sm-12 mb-4 mx-0">
                    <div class="card ubd-stats card-small m-0">
                        <div class="card-header border-bottom">
                            <h6 class="m-0" id="lao_ts_title">Climatology of Vientiane station</h6>
                        </div>

                        <div class="card-body pt-0" style="background-color: #fff;border-radius: 0.625rem;">
                            <!-- Select year -->
                            <div class="row border-bottom py-2 bg-light">
                                <div class="col-12 w-100">
                                    <span>Select year</span>

                                    <div class="col-12" id="lao_year_slider"></div>

                                </div>
                            </div>

                            <!-- End Select year -->
<div>
                            <canvas id="lao_chart"></canvas>
</div>
                        </div> <!-- End card body -->

                    </div>
                </div><!-- End Describe box -->
            </div>

        </div>
        <!-- End Laos tab -->
        <!------------------------------------------------------------------------------------------------------------------------------->
        <!-------------------------------------------------------* Myanmar tab *--------------------------------------------------------->
        <!------------------------------------------------------------------------------------------------------------------------------->
        <div class="tab-pane fade" id="myanmar">
            

        </div>
        <!-- End Myanmar tab -->
    </div>
    <!-- End Country tab -->





</div>
<!-- End of Page content -->

<script src="{% static 'scripts/observation.js' %}"></script>
<script type="text/javascript">
    //-----------------------------------------------------------------------------------------------//
    //--------------------------------------------- AJAX --------------------------------------------//
    //-----------------------------------------------------------------------------------------------//

    // -------------------------** Cambodia AJAX **-------------------------//
    // Cambodia : Default
    KHM_ajaxStation('Battambang');

    // Cambodia : AJAX Main Function
    function KHM_ajaxStation(station) {
        $.ajax({
            type: "POST",
            url: "{% url 'obs_cambodia_station' %}",
            data: {
                khm_station: station,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            dataType: 'json',
            cache: false,
            success: function (khm_data) {
                KHM_tsChart(khm_data);
                KHM_YearSelect(khm_data);
                // Change station name at tim series box's title
                $('#khm_ts_title').text("Climatology of "+ khm_data.station +" station");
                //alert(khm_data.station);
                //console.log(khm_data.year_start + ' : ' + khm_data.year_end);
            },
            error: function () {
                alert('error')
            }
        }); // end ajax
    }

    // Cambodia : AJAX for year selection
    function KHM_ajaxYearSel(start,end,station) {
        $.ajax({
            type: "POST",
            url: "{% url 'obs_cambodia_station_yearsel' %}",
            cache: false,
            data: {
                khm_station_y: station,
                khm_year_start: start,
                khm_year_end: end,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            dataType: 'json',
            success: function (khm_year) {
                KHM_tsChart(khm_year);
                //console.log(khm_year.test);
            },
            error: function () {
                alert('error')
            }
        });
    }

    // -------------------------** Laos AJAX **-------------------------//
    // Laos : Default
    LAO_ajaxStation('Vientiane');

    // Cambodia : AJAX Main Function
    function LAO_ajaxStation(station) {
        $.ajax({
            type: "POST",
            url: "{% url 'obs_laos_station' %}",
            data: {
                lao_station: station,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            dataType: 'json',
            cache: false,
            success: function (lao_data) {
                LAO_tsChart(lao_data);
                LAO_YearSelect(lao_data);
                // Change station name at tim series box's title
                $('#lao_ts_title').text("Climatology of "+ lao_data.station +" station");
                //alert(khm_data.station);
                //console.log(khm_data.year_start + ' : ' + khm_data.year_end);
            },
            error: function () {
                alert('error')
            }
        }); // end ajax
    }

    // Laos : AJAX for year selection
    function LAO_ajaxYearSel(start,end,station) {
        $.ajax({
            type: "POST",
            url: "{% url 'obs_laos_station_yearsel' %}",
            cache: false,
            data: {
                lao_station_y: station,
                lao_year_start: start,
                lao_year_end: end,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            dataType: 'json',
            success: function (lao_year) {
                LAO_tsChart(lao_year);
                //console.log(lao_year.test);
            },
            error: function () {
                alert('error')
            }
        });
    }


    // ----------------------------------------- Map Calling ---------------------------------------//

    // call geojson for map //
    var lao_json = {{ lao_json|safe }};
    var khm_json = {{ khm_json|safe }};
    // call map create function
    KHM_map(khm_json);
    LAO_map(lao_json);





</script>


{% include "structure/footer.html" %}
{% endblock content %}