{% load static %}
{% include "structure/header_n_footer.html" %}
{% block content %}
{% include "structure/sidebar.html" %}
{% include "structure/topnavbar.html" %}

<div class="container-fluid card" style="margin: 10px; width: auto;background-color: #dee1ea;">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-12 text-center text-sm-left mb-4 mb-sm-0">
            <h3 class="page-title">Reports</h3>
        </div>
    </div>
    <!-- End Page Header -->

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 mb-2 mx-0 my-3">
            <div class="card card-small m-0">
                <div class="card-header border-bottom">
                    <h6 class="m-0">Reports Data</h6>
                </div>
                <!-- Content Body -->
                <div class="card-body p-0 pb-3">
                    <div class="row">
                        <div class="col-12">
                            <form method="post" class="py-2">
                                {% csrf_token %}


                                <div class="row col">
                                    <!-- Select Country -->
                                    <div class="col-lg-3 col-md-12 col-sm-12">
                                        <span>Select Country: </span>
                                        <select class="form-control my-2" name="country_selected" id="country_selected">
                                            <option name="khm_sel" value="KHM">Cambodia</option>
                                            <option name="lao_sel" value="LAO">Laos</option>
                                            <!--<option name="mya_sel" value="MYA">Myanmar</option>-->
                                        </select>
                                    </div>
                                    <!-- / Select Country -->

                                    <!-- Select Event -->
                                    <div class="col-lg-3 col-md-12 col-sm-12">
                                        <span>Select Event: </span>
                                        <select class="form-control my-2" id="haz_selected" name="haz_selected">

                                        </select>
                                    </div>
                                    <!-- /. Select Event -->

                                </div>


                                <!-- Profile Report Checkbox -->
                                <div class="row col">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <span>Select report profile:<br></span>
                                        <div class="form-check form-check-inline mx-3 mt-2">
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="hazard_profile">
                                            <label class="form-check-label" for="hazard_profile">
                                                Hazard Profile
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline mx-3">
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="disaster_profile">
                                            <label class="form-check-label" for="disaster_profile">
                                                Disaster Profile
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline mx-3">
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="vulnerability_profile">
                                            <label class="form-check-label" for="vulnerability_profile">
                                                Vulnerability Profile
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline mx-3">
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="climate_profile">
                                            <label class="form-check-label" for="climate_profile">
                                                Climate Profile
                                            </label>
                                        </div>

                                    </div>
                                </div>
                                <!-- / Profile Report Checkbox -->


                                <!-- Submit Button -->
                                <div class="row col mt-4">
                                    <div class="col-lg-3 col-md-12 col-sm-12">
                                        <a type="button submit" class="btn btn-primary btn-squared"
                                            style="border-color: #0b2d5a; background-color: #0b2d5a; border-radius: 0.2rem;"
                                            href="{% url 'reports_pdf' %}" target="_blank">Generate PDF</a>
                                    </div>
                                </div>
                                <!-- End Submit Button code -->


                            </form>
                        </div>
                    </div>

                </div>
                <!-- / End body content -->
            </div>
        </div>
    </div>


</div>


{% include "structure/footer.html" %}

<script type="text/javascript">
    //---------------------------------------------------------------------------------------//
    //--------------------------------------AJAX CODE---------------------------------------//
    //--------------------------------------------------------------------------------------// 
    // Dropdown function
    function DropdownAjax(html_id, list) {
        $(html_id).find('option').remove();
        $.each(list, function (key, value) {
            $(html_id).append('<option value="' + value + '" data-tokens="' + value + '">' + value + '</option>');
        });
    }


    // ----------** AJAX for country select **---------- //
    // AJAX country selected function
    function AJAXcountry(country) {
        $.ajax({
            type: "POST",
            url: "upload_data/country_event",
            data: {
                country: country,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            dataType: 'json',
            cache: false,
            success: function (c_data) {
                var event = c_data.event;
                // hazard dropdown
                DropdownAjax("#haz_selected", event);
            },
            error: function () {
                alert('error')
            }

        });
    }

    // AJAX: Default
    AJAXcountry('KHM');
    // AJAX: choose country
    $(document).on("change", "#country_selected", function (p) {
        p.preventDefault();

        var country = $('[name=country_selected]').val();
        AJAXcountry(country);
    });

</script>
{% endblock content %}