{% load static %}
{% include "structure/header_n_footer.html" %}
{% block content %}
{% include "structure/sidebar.html" %}
{% include "structure/topnavbar.html" %}

<div class="container-fluid card" style="margin: 10px; width: auto;background-color: #dee1ea;">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-12 text-center text-sm-left mb-4 mb-sm-0">
            <h3 class="page-title">SDC Projects</h3>
        </div>
    </div>
    <!-- End Page Header -->
    <!-- Country Tab -->
    <!-- Tab Bar -->
    <div class="btn-group btn-group-toggle d-inline-flex mb-4 mb-sm-0 mx-auto py-2" role="group"
        aria-label="Page actions">
        <ul class="nav" id="myTab">
            <li class="nav-item ">
                <a href="#cambodia" class="nav-link btn btn-white active">Cambodia</a>
            </li>
            <li class="nav-item">
                <a href="#laos" class="nav-link btn btn-white">Laos</a>
            </li>
            <li class="nav-item">
                <a href="#myanmar" class="nav-link btn btn-white">Myanmar</a>
            </li>
        </ul>
    </div>

    <!-- Tab content -->
    <div class="tab-content">
        <!-----------------------------------** Cambodia Tab Content **----------------------------------------->
        <div class="tab-pane fade show active" id="cambodia">
            <!-- Cambodia Data Table -->
            <div class="row">
                <div class="col-12">
                    <div class="card card-small mb-4">
                        <div class="card-header border-bottom">
                            <h6 class="m-0">SDC Projects in Cambodia</h6>
                        </div>
                        <div class="card-body p-0 pb-3 text-center">

                            <!-- Search and Add Panel -->
                            <div class="col-12 border-bottom" style="background-color: #fff;">
                                <div class="row px-3">
                                    <!-- Search box -->
                                    <div class="col-lg-8 col-md-12 col-sm-12 py-2 px-0">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i
                                                        class="fa-solid fa-magnifying-glass"></i></span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Search..."
                                                id="khm_search" onkeyup="KHM_SearchFunction()">
                                        </div>
                                    </div>
                                    <!-- / Search box -->

                                    <!-- Add Project button -->
                                    <div class="col-lg-4 col-md-12 col-sm-12 py-2 px-0">
                                        <button type="button" class="btn btn-white float-right" data-toggle="modal"
                                            data-target="#KHM_addProject"><i
                                                class="fa-solid fa-circle-plus"></i>&nbsp;&nbsp;Add New Project</button>
                                    </div>

                                    <!-- Modal for add new project -->
                                    <div class="modal fade" id="KHM_addProject" tabindex="-1" role="dialog"
                                        aria-labelledby="KHM_addProjectCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="KHM_addProjectLongTitle">Add new SDC's
                                                        project
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form method="post" class="py-2 needs-validation" id="khm_form" enctype="multipart/form-data"
                                                        novalidate>
                                                        {% csrf_token %}
                                                        <!-- Project name -->
                                                        <div class="form-group">
                                                            <div class="col-md-12 mb-3">
                                                                <label for="KHM_ProjectName" class="float-left">Project
                                                                    name</label>
                                                                <input type="text" class="form-control"
                                                                    id="KHM_ProjectName" name="KHM_ProjectName" placeholder="" required>
                                                                <div class="invalid-feedback float-left">
                                                                    Please provide the name of project
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Objective -->
                                                        <div class="form-group">
                                                            <div class="col-md-12 mb-3">
                                                                <label for="KHM_Objective"
                                                                    class="float-left">Objective</label>
                                                                <textarea type="text" class="form-control" row="3"
                                                                    maxlength="350" id="KHM_Objective" name="KHM_Objective" placeholder=""></textarea>
                                                                <div id="khm_obj_count" class="float-right">
                                                                    <span id="khm_obj_current"
                                                                        style="font-weight: 300; font-size: 0.725rem;">0</span>
                                                                    <span id="khm_obj_maximum"
                                                                        style="font-weight: 300; font-size: 0.725rem;">/
                                                                        350</span>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- Duration -->
                                                        <div class="form-group">
                                                            <div class="col-md-12 mb-3">
                                                                <label for="KHM_Duration"
                                                                    class="float-left">Duration</label>
                                                                <input type="text" class="form-control" name="KHM_Duration"
                                                                    id="KHM_Duration" placeholder="" required>
                                                                <div class="invalid-feedback float-left">
                                                                    Please provide duration of project
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- Budget -->
                                                        <div class="form-group">
                                                            <div class="col-md-12 mb-3">
                                                                <label for="KHM_Budget"
                                                                    class="float-left">Budget</label>
                                                                <textarea type="text" class="form-control" row="3"
                                                                    maxlength="200" id="KHM_Budget" name="KHM_Budget" placeholder=""></textarea>
                                                                <div id="khm_bud_count" class="float-right">
                                                                    <span id="khm_bud_current"
                                                                        style="font-weight: 300; font-size: 0.725rem;">0</span>
                                                                    <span id="khm_bud_maximum"
                                                                        style="font-weight: 300; font-size: 0.725rem;">/
                                                                        200</span>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- Location -->
                                                        <div class="form-group">
                                                            <div class="col-md-12 mb-3">
                                                                <label for="KHM_Location"
                                                                    class="float-left">Location</label>
                                                                <input type="text" class="form-control" row="3"
                                                                    maxlength="150" id="KHM_Location" name="KHM_Location" placeholder="">
                                                                <div id="khm_loc_count" class="float-right">
                                                                    <span id="khm_loc_current"
                                                                        style="font-weight: 300; font-size: 0.725rem;">0</span>
                                                                    <span id="khm_loc_maximum"
                                                                        style="font-weight: 300; font-size: 0.725rem;">/
                                                                        150</span>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- Partners -->
                                                        <div class="form-group">
                                                            <div class="col-md-12 mb-3">
                                                                <label for="KHM_Partners"
                                                                    class="float-left">Partners</label>
                                                                <textarea type="text" class="form-control" row="3"
                                                                    id="KHM_Partners" name="KHM_Partners" placeholder=""></textarea>

                                                            </div>
                                                        </div>

                                                        <!-- Outcome -->
                                                        <div class="form-group">
                                                            <div class="col-md-12 mb-3">
                                                                <label for="KHM_Outcome"
                                                                    class="float-left">Outcome</label>
                                                                <textarea type="text" class="form-control" row="3"
                                                                    maxlength="350" id="KHM_Outcome" name="KHM_Outcome" placeholder=""
                                                                    value=""></textarea>
                                                                <div id="khm_out_count" class="float-right">
                                                                    <span id="khm_out_current"
                                                                        style="font-weight: 300; font-size: 0.725rem;">0</span>
                                                                    <span id="khm_out_maximum"
                                                                        style="font-weight: 300; font-size: 0.725rem;">/
                                                                        350</span>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                                            <label for="KHM_pdf" class="float-left">PDF file
                                                                upload</label>

                                                            <div class="custom-file">
                                                                <input type="file" class="custom-file-input"
                                                                    name="khm_pdf" id="KHM_pdf" accept=".pdf">
                                                                <label class="custom-file-label text-left"
                                                                    for="KHM_pdf">Choose PDF file...</label>
                                                                    <small class="form-text text-muted float-left">The file name must not have any space (Please fill it with "-" or "_").</small>
                                                            </div>

                                                        </div>


                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-white"
                                                        data-dismiss="modal">Close</button>
                                                    <button type="button submit" class="btn btn-primary"
                                                        style="border-color: #0b2d5a; background-color: #0b2d5a; border-radius: 0.2rem;">Add
                                                        New Project</button>
                                                </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- / Add Project Button -->
                                </div>
                            </div>
                            <!-- / Search and Add Panel -->

                            <!-- cambodia Data Table -->
                            <table class="table" id="khm_table">
                                <thead class="bg-light">
                                    <tr>
                                        <th scope="col" class="border-0">No.</th>
                                        <th scope="col" class="border-0">Project Name</th>
                                        <th scope="col" class="border-0">Objective</th>
                                        <th scope="col" class="border-0">Duration</th>
                                        <th scope="col" class="border-0">Budget</th>
                                        <th scope="col" class="border-0">Location</th>
                                        <th scope="col" class="border-0">Partners</th>
                                        <th scope="col" class="border-0">Outcome</th>
                                        <th scope="col" class="border-0">PDF</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for a in khm_project %}
                                    <tr>
                                        <td>{{ a.id }}</td>
                                        <td>{{ a.project_name }}</td>
                                        <td>{{ a.objective }}</td>
                                        <td>{{ a.duration }}</td>
                                        <td>{{ a.budget }}</td>
                                        <td>{{ a.location }}</td>
                                        <td>{{ a.partners }}</td>
                                        <td>{{ a.outcome }}</td>
                                        <td><a href="{% static a.pdf_download %}" alt="{{a.pdf_download}}"
                                                target="_blank"><i class="fa-solid fa-file-pdf"
                                                    style="font-size: 1.75rem; color: #9B0103;"></i></a></td>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                            <!-- / cambodia Data Table -->

                        </div>
                    </div>
                </div>
            </div>
            <!--------------------- End Cambodia Tab --------------------->

        </div>

        <!-----------------------------------** Laos Tab Content **----------------------------------------->
        <div class="tab-pane fade" id="laos">
            <!-- Laos data Table -->
            <div class="row">
                <div class="col">
                    <div class="card card-small mb-4">
                        <div class="card-header border-bottom">
                            <h6 class="m-0">SDC Projects in Laos</h6>
                        </div>
                        <div class="card-body p-0 pb-3 text-center">
                            <table class="table mb-0">
                                <thead class="bg-light">
                                    <tr>
                                        <th scope="col" class="border-0" style="width: 5%">No.</th>
                                        <th scope="col" class="border-0" style="width: 15%">Project Name</th>
                                        <th scope="col" class="border-0" style="width: 15%">Project Area</th>
                                        <th scope="col" class="border-0" style="width: 55%">Details</th>
                                        <th scope="col" class="border-0" style="width: 10%">PDF Download</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Enhancing Nutrition of Upland Farming Families (ENUFF)</td>
                                        <td>60 villages in 4 districts of 2 provinces - Houaphanh and Oudomxay</td>
                                        <td>Family and child nutrition in remote and ethnically diverse upland
                                            farming communities in two of the seven priority provinces has
                                            improved through nutrition-sensitive agriculture production,
                                            sustainable management of natural resources and enhancement of good
                                            practices in health and hygiene, including a more conducive and
                                            efficient policy and institutional framework.</td>
                                        <td>NA</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Lao Upland Rural Advisory Services (LURAS)</td>
                                        <td>121 villages in 15 districts of 4 provinces - Xaysomboune, Xiengkhouang,
                                            Oudomxay, Houaphanh</td>
                                        <td>The Swiss Cooperation in the Mekong Region supports the Lao Upland
                                            Rural Advisory (LURAS) project to facilitate an effective demand-driven
                                            pluralistic extension service delivery system in Lao PDR.</td>
                                        <td>NA</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Vocational Training and Employment Support Services (VTESS)</td>
                                        <td>6 villages in 5 districts of 5 provinces - Salavanh, Khammouane,
                                            Xayabouly, Xiengkhouang, Oudomxay</td>
                                        <td>The Vocational Training and Employment Support Services (VTESS) Project
                                            supports the government of Laos in institutionalizing a national inclusive
                                            system for the integration of early school leavers into technical training
                                            courses and further education.</td>
                                        <td>NA</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Skills for Tourism (SFT)</td>
                                        <td>28 villages in 18 districts of 13 provinces - Attapeu, Bokeo, Houaphanh,
                                            Khammouane, Louangnamtha, Louangphabang, Oudomxay, Phongsaly, Salavanh,
                                            Savannakhet, Sekong, Vientiane Capital, Vientiane, Xayabouly, Xiengkhouang
                                        </td>
                                        <td>The Skills for Tourism project will provide ongoing support
                                            for vocational education and skills development for the tourism sector.</td>
                                        <td>NA</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Local Development Programme for Bokeo, Bolikhamxay, Khammouane, and
                                            Vientiane Province (LAO/030)</td>
                                        <td>227 villages in 15 districts of 4 provinces - Bokeo, Bolikhamxay,
                                            Khammouane, and Vientiane Province</td>
                                        <td>The Project supports the government’s poverty reduction strategy for
                                            upland rural development. It focuses on the 14 poorest districts in
                                            four provinces, particularly 230 target villages with a population
                                            of 150,000 with 76% of whom are ethnic minorities.</td>
                                        <td>NA</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Laos Data Table -->
        </div>
        <!-----------------------------------** Myanmar Tab Content **----------------------------------------->
        <div class="tab-pane fade" id="myanmar">
            <!-- Myanmay Data Table -->
            <div class="row">
                <div class="col">
                    <div class="card card-small mb-4">
                        <div class="card-header border-bottom">
                            <h6 class="m-0">SDC Projects in Myanmar</h6>
                        </div>
                        <div class="card-body p-0 pb-3 text-center">
                            <p class="py-3">Not Avaliable</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Default Light Table -->
        </div>




    </div> <!-- End  Tab content -->
</div>

<script src="{% static 'scripts/sdc_project.js' %}"></script>
<script type="text/javascript">
    //---------------------------------------------------------------------------------------//
    //--------------------------------------AJAX CODE---------------------------------------//
    //--------------------------------------------------------------------------------------// 
    // Cambodia add new project submission
    $(document).on('submit', '#khm_form', function (khm) {
        khm.preventDefault();

        $.ajax({
            type: "POST",
            url: "sdc_project/add_cambodia",
            data: {
                khm_name: $('[name=KHM_ProjectName]').val(),
                khm_obj: $('[name=KHM_Objective]').val(),
                khm_dur: $('[name=KHM_Duration]').val(),
                khm_bud: $('[name=KHM_Budget]').val(),
                khm_loc: $('[name=KHM_Location]').val(),
                khm_par: $('[name=KHM_Partners]').val(),
                khm_out: $('[name=KHM_Outcome]').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            dataType: 'json',
            cache: false,
            success: function (khm_data) {
                console.log(khm_data.name + ', Obj: ' + khm_data.obj + ', Duration: ' + khm_data.dur + ', Budget: ' + khm_data.bud + khm_data.loc + khm_data.par + khm_data.out);
            },
            error: function () {
                alert('error')
            }
        });
    });
    //-----------------------------------------------------------------------------------------------------------//
    //--------------------------------------------- Search function  --------------------------------------------//
    //-----------------------------------------------------------------------------------------------------------//
    function KHM_SearchFunction() {
        var input, filter, table, tr, td, cell, i, j;
        input = document.getElementById("khm_search");
        filter = input.value.toUpperCase();
        table = document.getElementById("khm_table");
        tr = table.getElementsByTagName("tr");
        for (i = 1; i < tr.length; i++) {
            // Hide the row initially.
            tr[i].style.display = "none";

            td = tr[i].getElementsByTagName("td");
            for (var j = 0; j < td.length; j++) {
                cell = tr[i].getElementsByTagName("td")[j];
                if (cell) {
                    if (cell.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        break;
                    }
                }
            }
        }
    }

    //---------------------------------------------------------------------------------------------------------------//
    //--------------------------------------------- File input function  --------------------------------------------//
    //---------------------------------------------------------------------------------------------------------------//
    $(document).ready(function () {
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    });


</script>

{% include "structure/footer.html" %}
{% endblock content %}