
.eq-switch {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 14px;
  }
  
  .eq-switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .eq-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .eq-slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .eq-slider {
    background-color: #2196F3;
  }
  
  input:focus + .eq-slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .eq-slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
  }
  
  /* Rounded sliders */
  .eq-slider.round {
    border-radius: 34px;
  }
  
  .eq-slider.round:before {
    border-radius: 50%;
  }

  /* EQ List */
  .event-list ul li {
    padding:15px 15px 15px 10px;
    
  }   
  .event-list {
    padding-left:0px ;
    list-style-type: none;
  }  



  .event-mag {
    /* width: 50px;
    height:50px; */
    line-height: 30px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    padding: 10px 10px
  }
    
    .event-info {
        color:#A5A5A5 !important;
        padding: 0 !important;
        font-size: 14px;
    }
    .event-region {
        font-weight: bold;
    }
    .event-header:link {
        text-decoration: none !important;
      
    }
  
    .event-list li{ 
        border-left:6px solid #007bff;
        padding: 10px 5px 10px;
    } 
    .event-list li:nth-child(even) {
        border-left:6px solid rgb(0, 123, 255) !important;
        background: #fff;
    }
  
    .event-list li.selected {
        border-left: 6px solid #007bff !important;
        background: rgb(201, 225, 255) !important;
    }
    .event-list li:hover{ 
      border-left:6px solid #2f96b2 !important;
      /* background: rgb(241, 241, 241); */
      background: rgb(183, 217, 255) !important;
      cursor: pointer;
  } 
  
    .event-flex{
        display: flex;
    }
    .info-title {
        font-size: 16px;
        font-weight: bold;
        padding: 0;
        margin: 0;
        white-space: nowrap;
    }

    .eq-hr{
        margin-block-start: 0.5em !important;
        margin-block-end: 0.5em !important;
        background-color: rgb(148, 148, 148);
        border: none;
        height: 1.5px;
    }

    .eq-popup {
        padding-top: 510px;
        width: 100%;
        line-height: 1.2em;
        clear: both;
    }

    .eq-popup td {
        padding-top: 6px;
        font-size: 13px;
    }

    .eq-popup td:first-child {
      font-weight: bold;
    }

    
    
    .eq-txt-primary {
        color: #3d9cdd !important;
    }

    input + .eq-slider.disabled {
        background-color: grey;
        opacity: 0.2;
        cursor: not-allowed;
    }

    /* Overwrite */
        .dropdown-menu {
            margin: -1px 0 0 !important;
        }
        .leaflet-popup-content {
            margin: 13px 19px;
            line-height: 1.4;
        }
        /* SELECT2 */
        .select2-container--default .select2-selection--single, .select2-selection .select2-selection--single {
            
            padding: 3px 12px !important;
        }
        .select2-container--default .select2-selection--multiple .select2-selection__choice{
            background-color: #3c8dbc !important;
        }

        input[type='radio']{
            display: table-cell;
            vertical-align: middle;
         }
         input[type=checkbox], input[type=radio] {
            margin: -1px 0 0;
        }

        .eq-alert-danger {
            color: #721c24;
            background-color: #f8d7da;
            border-color: #f5c6cb;
        }

        .eq-alert-success {
            color: #155724;
            background-color: #d4edda;
            border-color: #c3e6cb;
        }
        .eq-alert {
            position: relative;
            padding: 0.75rem 1.25rem;
            margin-bottom: 1rem;
            border: 1px solid transparent;
            border-radius: 0.25rem;
        }

        .noselect {
            -webkit-touch-callout: none; /* iOS Safari */
              -webkit-user-select: none; /* Safari */
               -khtml-user-select: none; /* Konqueror HTML */
                 -moz-user-select: none; /* Old versions of Firefox */
                  -ms-user-select: none; /* Internet Explorer/Edge */
                      user-select: none; /* Non-prefixed version, currently
                                            supported by Chrome, Edge, Opera and Firefox */
          }

    .event-header{
      font-size:20px;
      background-color: #dee1ea;
    }
    .event-header-label{
      box-shadow: inset 6px 0 0 #007bff;
      border-radius: 30px 30px 30px 0px;
      background-color: #dee1ea;
      color: #0b2d5a;
      width: 100%;
      padding: 10px;
    }

    .leaflet-pane .leaflet-popup-pane{
      z-index: 9999;
    }

    .custom-toggle .custom-control-input:checked~.custom-control-label-primary::before {
      background: #007bff !important;
      border-color: #007bff !important;
    } 

  
    textarea:focus, input:focus{
      outline: none !important;
  }
    textarea{
      border-radius: 0.25rem;
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      border: 1px solid #e1e5eb;
      font-size: 0.8125rem !important;
      color: #495057 !important;
      padding: 0.4375rem 0.75rem !important;
    }
    textarea:focus
    {
        border-color: #007bff !important;
    }

    .modal-primary {
      background: #007bff !important;
    }

    .modal-primary .modal-title, .modal-primary .close{
      color: #fff !important;
      opacity: 1;
    }

  
    /* End Overwrite */
    /* .leaflet-container {
        font:normal !important;
    } */
